body {
    text-align: center;
}

.verde-apagado {
    background-color: #0c910c;
}
.verde-prendido {
    background-color: rgb(6, 250, 6);
    border: solid darkolivegreen;
}

.rojo-apagado {
    background-color: #d53032;
}

.rojo-prendido {
    background-color: red;
    border: solid brown;
}

.azul-apagado {
    background-color: #3f888f;
}
.azul-prendido {
    background-color: blue;
    border: solid darkblue;
}

.amarillo-apagado {
    background-color: #c9c91e;
}
.amarillo-prendido {
    background-color: yellow;
    border: solid darkgoldenrod;
}

.oculto {
    display: none;
}

#pantalla-juego {
    padding: 0px;
    margin: 30px;
    height: 500px;
}
