body {
    text-align: center;
}

.oculto {
    display: none;
}

.cuadro {
    opacity: 0.5;
    transition: opacity 500ms;
}

#verde {
    background-color: #0c910c;
}

#rojo {
    background-color: #d53032;
}

#azul {
    background-color: #3f888f;
}

#amarillo {
    background-color: yellow;
}

#pantalla-juego {
    padding: 0px;
    margin: 30px;
    height: 500px;
}
